.c-summary{
    padding: 30px;
    box-sizing: border-box;
    color: $gray;
    background: $white2;
    &--title{
        font-size: $font-size_xl;
        font-weight: bold;
        text-align: center;
    }
    &__wrap{
        width: 50%;
        margin: 0 auto;
        text-align: left;
        line-height: 26px;
        @include mq('md'){
            width: 100%;
        }
        &--title{
            font-size: $font-size_l;
        }
        &--text{
            font-size: $font-size_m;
        }
    }
}